<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>销售管理系统</title>
</head>

<body>
    <div class="title-search-div row">
        <h3 class="menu-title">销售管理</h3>
    </div>
    <div class="auto-lines-container">
        <div class="col-md-4 auto-line-box">
            <dl>
                <dt>公司信息</dt>
                <dd data-refresh-item="sales">
                    <labal class="lines-item">江苏绿能宝融资租赁有限公司</labal>
                    <i class="icon icon-xiangqing line-icon"></i>
                </dd>
                <dd data-refresh-item="sales">
                    <labal class="lines-item">江苏绿能宝融资租赁有限公司</labal>
                    <i class="icon icon-xiangqing line-icon"></i>
                </dd>
                <dd data-refresh-item="sales">
                    <labal class="lines-item">江苏绿能宝融资租赁有限公司</labal>
                    <i class="icon icon-xiangqing line-icon"></i>
                </dd>
                <dd data-refresh-item="sales">
                    <labal class="lines-item">江苏绿能宝融资租赁有限公司</labal>
                    <i class="icon icon-xiangqing line-icon"></i>
                </dd>

            </dl>
        </div>
        <div id="sales-sales-box" class="col-md-4 auto-line-box">
            <dl>
                <dt>销售信息</dt>
            </dl>
        </div>
        <div id="sales-act-box" class="col-md-4 auto-line-box">
            <dl>
                <dt>代理人信息</dt>
            </dl>
        </div>
    </div>

    <!--    时间选择器/提示标签的js-->
    <script type="text/javascript" src="../js/util.js"></script>

</body>

</html>