<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>销售管理系统</title>
</head>

<body>
    <dl>
        <dt>销售信息</dt>
        <dd data-refresh-item="act">
            <labal class="lines-item">王铁锤</labal>
            <i class="icon icon-xiangqing line-icon"></i>
        </dd>
        <dd data-refresh-item="act">
            <labal class="lines-item">张铁蛋</labal>
            <i class="icon icon-xiangqing line-icon"></i>
        </dd>
        <dd data-refresh-item="act">
            <labal class="lines-item">支付宝</labal>
            <i class="icon icon-xiangqing line-icon"></i>
        </dd>
        <dd data-refresh-item="act">
            <labal class="lines-item">隔壁老王</labal>
            <i class="icon icon-xiangqing line-icon"></i>
        </dd>
    </dl>

    <!--    时间选择器/提示标签的js-->
    <script type="text/javascript" src="../js/util.js"></script>

</body>

</html>