<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>销售管理系统</title>
</head>

<body>
    <dl>
        <dt>代理人信息</dt>
        <dd>
            <labal class="lines-item">代理人1</labal>
            <i class="icon icon-xiangqing line-icon"></i>
        </dd>
        <dd>
            <labal class="lines-item">代理人2</labal>
            <i class="icon icon-xiangqing line-icon"></i>
        </dd>
        <dd>
            <labal class="lines-item">代理人3</labal>
            <i class="icon icon-xiangqing line-icon"></i>
        </dd>
        <dd>
            <labal class="lines-item">代理人4</labal>
            <i class="icon icon-xiangqing line-icon"></i>
        </dd>

    </dl>

    <!--    时间选择器/提示标签的js-->
    <script type="text/javascript" src="../js/util.js"></script>

</body>

</html>