<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>提成设定分公司控制页面</title>
</head>

<body>
    <table class="table table-bordered table-hover">
        <tr class="active">
            <th colspan="2">负责人提成</th>
            <th colspan="2">内勤提成</th>
        </tr>
        <tr class="active">
            <th>业绩区间(万元)</th>
            <th>提成率(%)</th>
            <th>业绩区间(万元)</th>
            <th>提成率(%)</th>
        </tr>
        <tr>
            <td>
                <input type="text" class="form-control half-input" placeholder="起始值(含)" readonly />--
                <input type="text" class="form-control half-input input-oval" placeholder="结束值(不含)" readonly />
            </td>
            <td>
                <!--               这是用来存储相关隐藏id的输入框-->
                <input type="text" class="hide" placeholder="隐藏id">
                <input type="text" class="form-control default-input" placeholder="总业绩提成率" value="1.2" readonly />
            </td>
            <td>
                <input type="text" class="form-control half-input" placeholder="起始值(含)" value="2000" readonly />--
                <input type="text" class="form-control half-input input-oval" placeholder="结束值(不含)" value="3000" readonly />
            </td>
            <td>
               <!--               这是用来存储相关隐藏id的输入框-->
                <input type="text" class="hide" placeholder="隐藏id">
                <input type="text" class="form-control default-input" placeholder="内勤提成率" value="1.2" readonly />
            </td>
        </tr>
    </table>
</body>

</html>