<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>提成设定分公司控制页面</title>
</head>

<body>
    <table class="table table-bordered table-hover">
        <tr class="active">
            <th colspan="2">负责人提成</th>
            <th colspan="2">内勤提成</th>
        </tr>
        <tr class="active">
            <th>业绩区间(万元)</th>
            <th>提成率(%)</th>
            <th>业绩区间(万元)</th>
            <th>提成率(%)</th>
        </tr>
<!--        2000-5000区间-->
        <tr>
            <td>
                <input type="text" class="form-control half-input" placeholder="起始值(含)" value="2000(含)" readonly />--
                <input type="text" class="form-control half-input input-oval" placeholder="结束值(不含)" value="5000(不含)" readonly />
            </td>
            <td>
                <!--               这是用来存储相关隐藏id的输入框-->
                <input type="text" class="hide" placeholder="隐藏id">
                <input type="text" class="form-control default-input" placeholder="总业绩提成率" value="1" readonly />
            </td>
            <td>
                <input type="text" class="form-control half-input" placeholder="起始值(含)" value="2000(含)" readonly />--
                <input type="text" class="form-control half-input input-oval" placeholder="结束值(不含)" value="5000(不含)" readonly />
            </td>
            <td>
               <!--               这是用来存储相关隐藏id的输入框-->
                <input type="text" class="hide" placeholder="隐藏id">
                <input type="text" class="form-control default-input" placeholder="内勤提成率" value="1" readonly />
            </td>
        </tr>
<!--        5000-8000区间-->
       <tr>
            <td>
                <input type="text" class="form-control half-input" placeholder="起始值(含)"  value="5000(含)" readonly />--
                <input type="text" class="form-control half-input input-oval" placeholder="结束值(不含)" value="8000(不含)" readonly />
            </td>
            <td>
                <!--               这是用来存储相关隐藏id的输入框-->
                <input type="text" class="hide" placeholder="隐藏id">
                <input type="text" class="form-control default-input" placeholder="总业绩提成率" value="1.2" readonly />
            </td>
            <td>
                <input type="text" class="form-control half-input" placeholder="起始值(含)" value="5000(含)" readonly />--
                <input type="text" class="form-control half-input input-oval" placeholder="结束值(不含)" value="8000(不含)" readonly />
            </td>
            <td>
               <!--               这是用来存储相关隐藏id的输入框-->
                <input type="text" class="hide" placeholder="隐藏id">
                <input type="text" class="form-control default-input" placeholder="内勤提成率" value="1.2" readonly />
            </td>
        </tr>
<!--        8000-10000区间-->
       <tr>
            <td>
                <input type="text" class="form-control half-input" placeholder="起始值(含)" value="8000(含)" readonly />--
                <input type="text" class="form-control half-input input-oval" placeholder="结束值(不含)" value="10000(不含)" readonly />
            </td>
            <td>
                <!--               这是用来存储相关隐藏id的输入框-->
                <input type="text" class="hide" placeholder="隐藏id">
                <input type="text" class="form-control default-input" placeholder="总业绩提成率" value="1.3" readonly />
            </td>
            <td>
                <input type="text" class="form-control half-input" placeholder="起始值(含)" value="8000(含)" readonly />--
                <input type="text" class="form-control half-input input-oval" placeholder="结束值(不含)" value="10000(不含)" readonly />
            </td>
            <td>
               <!--               这是用来存储相关隐藏id的输入框-->
                <input type="text" class="hide" placeholder="隐藏id">
                <input type="text" class="form-control default-input" placeholder="内勤提成率" value="1.3" readonly />
            </td>
        </tr>
<!--        10000-15000区间-->
          <tr>
            <td>
                <input type="text" class="form-control half-input" placeholder="起始值(含)" value="10000(含)" readonly />--
                <input type="text" class="form-control half-input input-oval" placeholder="结束值(不含)" value="15000(不含)" readonly />
            </td>
            <td>
                <!--               这是用来存储相关隐藏id的输入框-->
                <input type="text" class="hide" placeholder="隐藏id">
                <input type="text" class="form-control default-input" placeholder="总业绩提成率" value="1.4" readonly />
            </td>
            <td>
                <input type="text" class="form-control half-input" placeholder="起始值(含)" value="10000(含)" readonly />--
                <input type="text" class="form-control half-input input-oval" placeholder="结束值(不含)" value="15000(不含)" readonly />
            </td>
            <td>
               <!--               这是用来存储相关隐藏id的输入框-->
                <input type="text" class="hide" placeholder="隐藏id">
                <input type="text" class="form-control default-input" placeholder="内勤提成率" value="1.4" readonly />
            </td>
        </tr>
<!--        15000以上-->
       <tr>
            <td>
                <input type="text" class="form-control half-input" placeholder="15000(含)以上" value="15000(含)以上" readonly />
<!--
                --
                <input type="text" class="form-control half-input input-oval" placeholder="10000(不含)" readonly />
-->
            </td>
            <td>
                <!--               这是用来存储相关隐藏id的输入框-->
                <input type="text" class="hide" placeholder="隐藏id">
                <input type="text" class="form-control default-input" placeholder="总业绩提成率" value="1.5" readonly />
            </td>
            <td>
                <input type="text" class="form-control half-input" placeholder="起始值(含)" value="15000(含)以上" readonly />
<!--
                --
                <input type="text" class="form-control half-input input-oval" placeholder="结束值(不含)" value="10000" readonly />
-->
            </td>
            <td>
               <!--               这是用来存储相关隐藏id的输入框-->
                <input type="text" class="hide" placeholder="隐藏id">
                <input type="text" class="form-control default-input" placeholder="内勤提成率" value="1.5" readonly />
            </td>
        </tr>
    </table>
</body>

</html>