<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>提成设定总控制页面</title>
</head>

<body>
    <div class="row">
        <ul class="nav nav-tabs nav-justified">
            <li role="presentation" class="active"><a href="javascript:void(0)">总公司</a>
            </li>
            <li role="presentation"><a href="javascript:void(0)">分公司</a>
            </li>
            <li role="presentation"><a href="javascript:void(0)">销售人员</a>
            </li>
            <li role="presentation"><a href="javascript:void(0)">代理人</a>
            </li>
        </ul>
    </div>
    <div id="commission-box" class="row commission-box">

    </div>
    <script type="text/javascript">
        $(function(){
            demo.addHtml('./commission/commission_zgs.html', 'commission-box');
        });
    </script>
</body>

</html>